body {
    background-color: yellow;
}

h2 {
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', serif;
    font-style: italic;
    border-bottom: solid  rgb(214, 39, 39);
    background-color: aqua;
    padding-top: 50px;
}