body {
    background-color: rgb(171, 111, 71);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    height: 800px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding: 2%;
    width: 96%;
}

a {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px; 
    background-color: #942d00;
    border-radius: 0px 30px;
}

.contenido {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}



h1 {
    text-align: center;
    font-family: cursive;
    color: #752401;
    font-size: 40px;
}

dt {
    font-family: cursive;
    font-size: 15px;
    color: #942d00;
}

dd {
    font-size: 20px;
}

