body {
    background-color: cadetblue;
}

.enlaces {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #4327aa;
}

.boton {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px; 
    background-color: #6e54c0;
    border-radius: 0px 30px;
    border: 1px solid black;
}

.titulo {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: rgb(35, 0, 162);
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.musica {
    width: 23%;
}

.voley {
    width: 23%;
}

.programar {
    width: 23%;
}

.conducir {
    width: 23%;
}

.subtitulo {
    font-size: 20px;
    font-style: italic;
    color: rgb(35, 0, 162);
}

.imagen {
    display: flex;
    width:250px;
    margin: auto;
}

.contexto {
    text-align: center;
}